.gv-stack-container {
    position: relative;
    perspective: 600px;
}

.gv-card-rotate {
    position: absolute;
    cursor: grab;
}

.gv-stack-card {
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.gv-card-image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}